.sidebar {
  width: 350px;
  height: 100%;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  left: -295px;
  transition: left 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.sidebar.expanded {
  left: 0;
}

.sidebar-divider {
  height: 1px;
  background-color: lightgrey;
  margin: 10px 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-unsaved {
  margin-top: 10px;
}

.generate-button,
.load-button,
.save-button,
.redo-button,
.undo-button,
.reset-button {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 60%;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.generate-button:hover,
.load-button:hover,
.save-button:hover,
.redo-button:hover,
.undo-button:hover,
.reset-button:hover {
  background-color: #2980b9;
}

.addblock {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 50%;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}