.sidebar {
  width: 350px;
  height: 100%;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  left: -295px;
  transition: left 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.sidebar.expanded {
  left: 0;
}

.sidebar-divider {
  height: 1px;
  background-color: lightgrey;
  margin: 10px 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generate-button {
  background-color: transparent;
  border: 1px solid #333;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 15px; /* Add padding for a better visual appearance */
  width: 55%; /* Set a width to make buttons visually appealing */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s;
}

.generate-button:hover {
  background-color: #311;
}

.reset-button {
  background-color: transparent; /* Set the background color as transparent */
  border: 1px solid #333; /* Add a white solid line on all four sides */
  color: white;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 15px; /* Add padding for a better visual appearance */
  width: 55%; /* Set a width to make buttons visually appealing */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s;
}

.reset-button:hover {
  background-color: #311;
}

.redo-button {
  background-color: transparent; /* Set the background color as transparent */
  border: 1px solid #333; /* Add a white solid line on all four sides */
  color: white;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 15px; /* Add padding for a better visual appearance */
  width: 55%; /* Set a width to make buttons visually appealing */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s;
}

.redo-button:hover {
  background-color: #311;
}

.undo-button {
  background-color: transparent; /* Set the background color as transparent */
  border: 1px solid #333; /* Add a white solid line on all four sides */
  color: white;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 15px; /* Add padding for a better visual appearance */
  width: 55%; /* Set a width to make buttons visually appealing */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s;
}

.undo-button:hover {
  background-color: #311;
}

.addblock {
  border: 1px solid #f4f1f1; 
  color: white;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 10px; /* Add padding for a better visual appearance */
  width: 55%; 
  object-fit: contain;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}