/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  font-family: Arial, sans-serif;
  color: #333;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Add this line */
}

.content {
  flex-grow: 1;
  transition: margin-left 0.3s;
  margin-left: 0;
  overflow: hidden; /* Add this line */
  max-height: 150vh; /* Add this line */
}

.app-title {
  position: fixed;
  top: 20px;
  left: 50px;
  font-size: 18px;
  padding: 10px;
  transition: color 0.3s;
}

.expanded-title {
  color: transparent; /* Title color when sidebar is expanded */
  opacity: 0;
}

.collapsed-title {
  color: black; /* Title color when the sidebar is collasped */
  opacity: 1;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 10vh;
  padding: 10px 0;
}

.middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 10vh;
  padding: 10px 0;
}

.content-expanded {
  margin-left: 200px;
  opacity: 1;
}

.swimlane-container {
  display: flex;
  margin: 20px;
  overflow-x: auto; 
}

.lanes-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
  border-radius: 10px;
}

.row {
  display: flex;
  gap: 8px;
}

.actors-cell {
  border: 1px solid; /* Add a border around each actor cell */
  padding: 10px;
  display: flex;
  flex-direction: column;
  grid-column: span 1;
  grid-row: span 1;
  gap: 8px;
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
  text-align: center; /* Center the text within the cell */
  width: 200px; /* Set max width for the right grid */
  word-wrap: break-word; /* Wrap text within the grid */
  border-radius: 10px 0px 0px 10px;
  background-color: transparent;
}

.actors h3 {
  margin: 0;
}

.lanes-cell {
  display: grid;
  grid-column: span 1;
  grid-row: span 1;
  gap: 8px;
  grid-template-columns: 1fr;
  border: 1px solid;
  padding: 10px;
  width: 1500px; /* Set max width for the right grid */
  word-wrap: break-word; /* Wrap text within the grid */
  border-radius: 0px 10px 10px 0px;
  background-color: transparent; 
}

/* Styling for the lanes */
.lane {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: flex; /* Expand to fill available space */
}

.blocks {
  display: flex;
  flex-wrap: wrap; /* Allow blocks to wrap within the lane's width */
}

.block {
  max-width: 350px;
  border-radius: 9px;
  width: 279px;
  height: 65px;
  margin: 0 5px 5px 0;
  padding: 5px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  word-wrap: break-word;
  text-align: center;
}

.block.dragging {
  opacity: 0.5;
}

.context-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
  padding: 5px;
  display: flex;
  flex-direction: column;
  min-width: 120px;
}

.color-option {
  cursor: pointer;
  padding: 5px;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150vh; /* Ensure full viewport height */
  margin: 0 auto; /* Center horizontally */
}

/* Center the title */
h1 {
  margin: 0;
  font-size: 24px;
}

/* Center the grid container */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}